body {
  text-align: center;
  background-color: #ffffcc;
}
h1 {
  font-size: 100px;
  color: orange;
  font-weight: 300;
}
ul {
  font-size: 40px;
  opacity: 0.8
}

#matrix li {
  padding: 3px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 80px;
  line-height: 60px;
  border-style: groove;
  width: 10%;

}

li:hover{
  background: #e5e5b7;

}
.btn-success {
  background: #595959;
}

.btn-success:hover {
  background: #808080;
}

.btn-danger{
  background: orange; 
  font-size: 20px;
  
}
.btn-danger:hover {
  background: purple;

}

button {

}